.container {
    display: flex;
    margin: 20px;
    align-items: center;
}


.input {
    margin-right: 1.5rem;
    height: 4vh;
    border-radius: 0.3rem;
    background-color: rgba(209, 144, 144, 0.471);
    color: rgb(252, 252, 252);
}

.boton {
    width: 6vw;
    height: 4vh;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: rgba(60, 233, 144, 0.8);
}